body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  justify-content: center;
  background-color: #343a40; /* Set background color for dark mode */
  color: #fff; /* Set text color to white for better contrast */
}

.title {
  margin-bottom: 30px; /* Add margin to title */
}

.btn-group-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #007bff; /* Default button color */
  border-color: #007bff; /* Default button border color */
}

.btn:hover {
  background-color: #0056b3; /* Button hover color */
  border-color: #0056b3; /* Button hover border color */
}

@media (max-width: 576px) {
  .btn-group-vertical-center {
    flex-direction: row;
  }
}
