html * {
    font-family: 'Roboto', sans-serif !important;
}

#roulette_chart {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 40px;
    color: rgba(100, 84.3, 0);
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-color: gray;
}

td {
    border: 2px solid rgba(138, 136, 136, 0.897);
    width: 50px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    color: rgba(143, 140, 140, 0.8);
    font-weight: bold;
    cursor: pointer;
}

td:hover {
    transform: scale(1.17);
    color: rgb(143, 143, 9);
}

.black {
    background-color: rgba(0, 0, 0, 0.425);
}

.red {
    background-color: rgba(170, 14, 14, 0.336);
}

#results {
    margin-left: 20%;
}

#results2 {
    margin-left: 15%;
    margin-right: 15%;
}

.patterns {
    float: left;
    position: relative;
    min-width: 25%;
    background-color: rgb(70, 70, 70);
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    color: gray;
}

.resultHistList {
    position: relative;
    background-color: rgb(70, 70, 70);
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    color: gray;
}

html {
    background-color: rgba(0, 0, 0, 0.89);
}

#footer {
    position: absolute;
    margin-top: 10px;
    color: gainsboro;
}

a {
    color: inherit;
}